/* Address.css */

.footer {
   padding: 20px;
   background-color: #333;
   color: white;
   text-align: left;
}

.footer .ace {
   text-align: left;
}

.footer .ace .logo {
   display: block;
   margin-bottom: 10px;
   margin-left: 69px;
   width: auto;
}

.footer .ace p.justified-text {
   text-align: justify;
   margin-top: 0;
}

.footer .social-icons i {
   font-size: 1.5rem; /* Adjust size as needed */
   color: white; /* Ensure icons are visible */
   /* Smooth hover effect */
   margin-left: 12px;
 
}



.footer .quick-links h2,
.footer .contact h2 {
   font-size: 1.2rem;
   margin-bottom: 1rem;
}

.footer .quick-links ul,
.footer .contact ul {
   list-style: none;
   padding: 0;
}

.footer .quick-links ul li,
.footer .contact ul li {
   margin-bottom: 0.5rem;
}

.footer .quick-links ul li a,
.footer .contact a {
   color: #f0f0f0;
   text-decoration: none;
   margin-top: 10px;
}

.footer .quick-links ul li a:hover,
.footer .contact a:hover {
   text-decoration: none;
   
}

.bottom {
   background-color: #555;
   color: white;
   padding: 10px;
   text-align: center;
}


