/*.Home{
display: flex;
justify-content: space-evenly;
flex-direction: row;
margin-left: auto;
margin-right: auto;
/*background-image: url('download.jpeg');*/
/*background-image: url('homeslide.jpg'); /* Relative to the public directory */
/*background-size: cover; Cover the entire container 
background-position: center; /* Center the image 
background-repeat: no-repeat; /* Prevent image repetition */
/*height: 60vh; /* Full viewport height or adjust as needed */
/*display: flex;
justify-content: space-between;
align-items: center;
padding: 20px;
}
.details{
display: flex;
margin-right: auto;
margin-left: auto;
justify-content: space-evenly;
}
.rows{
    width:auto;
    
}
.left{
    margin-left: 170px;
    margin-bottom: 24px;
}*/


  
  
 

